<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="plus.monitor.droid"
    android:versionCode="1"
    android:versionName="0.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="plus.monitor.droid.ConnectActivity"
            android:label="@string/app_name"
            android:theme="@style/NoTitleTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="plus.monitor.droid.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="plus.monitor.droid.PowerpointActivity"
            android:label="@string/title_activity_powerpoint" >
        </activity>
        <activity
            android:name="plus.monitor.droid.ScreenshotActivity"
            android:label="@string/title_activity_screenshot"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="plus.monitor.droid.MediaActivity"
            android:label="@string/title_activity_player" >
        </activity>
        <activity
            android:name="plus.monitor.droid.LaunchActivity"
            android:label="@string/title_activity_launch_run" >
        </activity>
        <activity
            android:name="plus.monitor.droid.CMDActivity"
            android:label="@string/title_activity_cmd" >
        </activity>
        <activity
            android:name="plus.monitor.droid.WebcamActivity"
            android:label="@string/title_activity_webcam" >
        </activity>
    </application>

</manifest>
